/**
 * steps.scss
 */

$step-bg: #ffffff;
$step-default-color: #b3c0ca;
$step-title-color: #597694;

$step-bullet: #b3c0ca;
$step-bullet-active: #597694;


.steps-container {
  width: 280px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: $step-bg;
  box-shadow: 0px 15px 40px 4px rgba(103, 106, 109, .26);
  box-sizing: border-box;

  .steps-header {
    text-align: right;
  }

  .skip {
    position: relative;
    display: inline-block;
    color: $step-default-color;
    text-decoration: none;
    transition: all .2s ease;

    &:after {
      position: absolute;
      top: -1px;
      right: 100%;
      width: 100px;
      padding-right: 5px;
      content: attr(data-message);
      text-align: right;

      visibility: hidden;
      opacity: 0;

      transition: opacity .3s, visibility .3s;
    }

    &:hover {
      color: $step-title-color;
      text-decoration: none;  

      &:after {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s, visibility .3s;
      }
    }
  }

  .steps-bullets {
    text-align: center;
    padding-bottom: 10px;

    .bullet {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: {
        left: 10px;
        right: 10px;
      }
      background-color: $step-default-color;
      border-radius: 50%;
      transition: all .2s ease;

      &:hover, &.active {
        background-color: $step-bullet-active;
      }
    }
  }
}

.step {
  color: $step-default-color;
  text-align: center;

  img {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .title {
    color: $step-title-color;
    font: {
      weight: normal;
      size: 1.4em;
    }
    margin: 0;
  }

  .info {
    display: inline-block;
    width: 175px;
    margin: {
      top: 35px;
      bottom: 50px;
      left: auto;
      right: auto;
    }
    font: {
      weight: 200;
      size: 1.1em;
    }
  }
}
